
$title: #3000a4;
$text: #0c005f;
$bg: #ecf0f3;

@mixin title {
	font-family: 'SofiaPro-Medium';
	font-weight: normal;
  font-style: normal;
	font-size: 20px;
	color: $title;
 }

@mixin text {
  font-family: "Montserrat-Medium";
  font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: $text;
}
