@media (max-width: 1300px) {
	.header__content-title {
		text-align: left;
		font-size: 55px;
	}
	.header__content-text {
		font-size: 15px;
	}
	.header__inner-nav {
		padding: 0px 20px 0px 6%;
		.header__menu {
			// margin-top: 27px;
			&-ul {
				li + li {
					margin-left: 45px;
				}
				li:nth-child(5) {
					margin-left: 15px;
				}
			}
		}
	}
	.header__content {
		padding-left: 5%;
	}
}

@media (max-width: 1250px) {                  //=====1250====//
	.best__inner {
		&::before {
			max-width: 350px;
			max-height: 482px;
			width: 100%;
    	height: 100%;
			top: -66px;
		}
	}
	.support__inner .support__box {
    right: 115px;
	}
	.support__items .support__item {
    width: 330px;
    height: 340px;
    margin: 10px;
    padding: 3% 2.8%;
    .sup__item-logo {
      img {
				max-width: 60px;
				max-height: 72px;
        margin-bottom: 13%;
      }
    }
    .sup__item-title {
      font-size: 20px;
      margin-bottom: 15px;
		}
		.sup__item-text {
			font-size: 14px;
		}
	}
	.support__item.sup-item02 {
		margin-top: 100px;
	}
	.support__item.sup-item04 {
		margin-top: -90px;
	}
	.support__item.sup-item03 {
		margin-top: 200px;
	}
	.support__item.sup-item04 {
		margin-top: -180px;
	}
	.support__item.sup-item05 {
		margin-top: -90px;
	}
	.support__footer-title {
    max-width: 520px;
    font-size: 46px;
	}
	// 	// ========================================

	.offers__items {
		.offers__item-img {
			display: block;
			img {
				max-width: 282px;
				max-height: 241px;
				width: 100%;
			}
		}
		.offers__item .offers_box-wrapper {
			padding: 20px 17px 20px 9px;
			.offers__item-title {
				font-size: 18px;
				padding-bottom: 45px;
			}
		}
		.offers__item-box__numbers {
			margin-bottom: 32px;
		}
		.offers__item-foot__img {
			img {
				max-width: 112px;
				min-height: 37px;
			}
		}
		.offers__item-foot {
			padding: 0px 8px;
		}
		.offers__item-box__numbers .oftext53 {
			margin-right: -2px;
		}
		.offers__item-box__numbers .oftext52 {
			margin-left: 43px;
		}
	}
// 	// ========================================

}

@media (max-width: 1200px) {                  //=====1200====//
	.header__content-title {
		font-size: 50px;
	}
	.text {
		font-size: 14px;
	}
	.header__inner-nav {
		padding: 0px 20px 0px 6%;
		.header__menu {
			&-ul {
				li + li {
					margin-left: 35px;
				}
				li:nth-child(5) {
					margin-left: 10px;
				}
			}
		}
	}
	.header__content {
		padding-left: 7%;
	}
	.best__header-title {
		width: 585px;
	}
	.best__inner {
		&::before {
			max-width: 340px;
			max-height: 462px;
			top: -66px;
		}
	}
	.support__inner .support__box {
    right: 95px;
	}
	.support__footer {
		padding-left: 12%;
		&-title {
		max-width: 475px;
		}
	}
}

@media (max-width: 1150px) {                   //=====1150====//
	.support__inner .support__box {
    top: 210px;
    right: 55px;
}
	.offers__clider {
		&-title {
			font-size: 46px;
		}
		&-item {
			&_text {
				font-size: 18px;
				left: 58px;
				padding: 0 53px;
			}
			&_img {
				max-width: 678px;
			}
		}
	}
	.slider__arrows-left {
		position: absolute;
		top: 64px;
    left: 135px;
		img {
			max-width: 55px;
			max-height: 40px;
		}
	}
	.slider__arrows-right {
		position: absolute;
		top: 219px;
    left: 418px;
		img {
			max-width: 55px;
			max-height: 40px;
		}
	}
	.slick-prev {
    left: -13%;
	}
	.slick-next {
    right: -13%;
	}
	.offers__clider-item_user {
		img {
			max-width: 110px;
			max-height: 110px;
		}
		.slider_user-text {
			font-size: 18px;
		}
		.slider_user-text_text {
			font-size: 14px;
		}
	}
	.slick-dots {
    bottom: 220px;
    left: 77%;
	}
}

@media (max-width: 1100px) {                   //=====1100====//
	.header__content-title {
		font-size: 45px;
	}
	.header__inner-nav {
		padding: 0px 20px 0px 6%;
		.header__menu {
			font-size: 15px;
			&-ul {
				li + li {
					margin-left: 25px;
				}
				li:nth-child(5) {
					margin-left: 10px;
				}
			}
		}
	}
	.header__content {
		padding-left: 6%;
	}
	.best__inner {
		&::before {
			max-width: 300px;
			max-height: 390px;
			bottom: -361px;
		}
	}
	.support__items .support__item {
    width: 282px;
    height: 310px;
    margin: 10px;
    .sup__item-logo {
      img {
				max-width: 60px;
				max-height: 72px;
        margin-bottom: 13%;
      }
    }
    .sup__item-title {
      font-size: 18px;
      margin-bottom: 15px;
    }
	}
	.support__inner .support__box {
    top: 200px;
    right: 40px;
	}
	.best__items-title {
		font-size: 60px;
	}
	.best__items-text {
		font-size: 18px;
	}
	.support__item.sup-item02 {
		margin-top: 100px;
	}
	.support__item.sup-item04 {
		margin-top: -90px;
	}
	.support__item.sup-item03 {
		margin-top: 200px;
	}
	.support__item.sup-item04 {
		margin-top: -180px;
	}
	.support__item.sup-item05 {
		margin-top: -90px;
	}
	.best__inner {
    padding-bottom: 285px;
	}
	.support__inner .support__footer {
		padding-left: 12%;
		&-title {
    max-width: 475px;
    font-size: 44px;
		}
	}
	.slick-next {
		right: -9%;
	}
	.slick-prev {
		left: -9%;
	}
}

@media (max-width: 1025px) {                   //=====1025====//
	.best__header {
		margin: 0 39% 0 19%;
		&-title {
			font-size: 30px;
		}
	}
	.header__logo {
    img {
			width: 205px;
    	height: 60px;
		}
	}
	.header__inner-nav .header__menu {
		margin-top: 27px;
		font-size: 14px;
	}
	.header__content {
		padding-left: 7%;
    &-text {
			margin-bottom: 30px;
			max-width: 421px;
		}
		&-title {
			font-size: 44px;
		}
		&-btn {
			padding: 18px 35px;
			button {
				font-size: 14px;
			}
		}
	}
	.best__items {
		margin: 65px 3% 0 18%;
		&-title {
			font-size: 60px;
		}
		&-text {
			font-size: 18px;
		}
	}
	.best__inner .best__inner-img {
    top: -80px;
    left: 0;
    img {
      max-width: 340px;
      max-height: 450px;
    }
  }
	.support__items .support__item {
    padding: 3% 2.4%;
	}
	.support__inner .support__box-title {
		font-size: 30px;
	}
	.best__inner {
    padding-bottom: 186px;
	}
	.support__box-text {
		max-width: 500px;
	}
	.support__inner {
		padding-top: 280px;
	}
	.support__inner .support__box {
    top: 164px;
    right: 60px;
	}
	.support__footer {
		padding-left: 12%;
		padding-top: 150px;
		padding-bottom: 160px;
		&::before {
			max-width: 264px;
			max-height: 401px;
			width: 100%;
			height: 100%;
			bottom: 160px;
			left: 0;
		}
		&::after {
			max-width: 289px;
			max-height: 330px;
			bottom: 0;
			right: 45px;
		}
		&-title {
			max-width: 430px;
			font-size: 40px;
		}
		&-btn {
			height: 50px;
			text-align: center;
			padding: 15px 45px;
			button {
				font-size: 14px;
			}
		}
	}
	.offers__inner .offers__header-text {
    max-width: 578px;
	}
	.offers__btn {
		width: 208px;
		height: 50px;
		font-size: 14px;
		padding: 15px 20px;
	}
	.offers__clider-title {
		font-size: 44px;
	}
	.slider__arrows-left {
    left: 114px;
	}
	.offers__clider-item_text p {
    display: inline;
    padding-left: 94px;
    margin: 0;
	}
	.footer__box-title {
		font-size: 18px;
	}
	.footer__foot {
		&-logo {
			img {
				max-width: 205px;
				max-height: 60px;
			}
		}
		&-text {
			font-size: 12px;
		}
	}
	.slick-next {
		right: -5%;
	}
	.slick-prev {
		left: -5%;
	}
	.support__inner .support__footer-title-eng {
		max-width: 365px;
	}
}

@media (max-width: 960px) {                   //=====960====//
	.header__content {
		padding-top: 55px;
		&-title {
			font-size: 36px;
		}
	}
	.text {
		font-size: 12px;
	}
	.header__menu-about,
	.header__menu-fact,
	.header__menu-offers {
		display: none;
	}
	.menu__ru-color {
		display: block;
	}
	.menu__eng-color {
		display: block;
		margin-left: 30px;
	}
	.header__inner-nav .header__menu-ul li+li {
		margin-left: 0;
	}
	.header__logo {
    margin-top: 20px;
	}
	.best__inner {
    padding-top: 150px;
		&::before {
			max-width: 256px;
			max-height: 338px;
			top: -33px;
		}
	}
	.support__inner .support__box {
    top: 174px;
    right: 23px;
	}
	.support__items .support__item {
    width: 216px;
    height: 250px;
    margin: 10px;
    padding: 1.5% 2%;
    .sup__item-logo {
      img {
				max-width: 45px;
				max-height: 54px;
        margin-bottom: 13%;
      }
    }
    .sup__item-title {
      font-size: 14px;
      margin-bottom: 10px;
		}
		.sup__item-text {
      font-size: 12px;
    }
	}
	.support__item.sup-item02 {
		margin-top: 100px;
	}
	.support__item.sup-item04 {
		margin-top: -90px;
	}
	.support__item.sup-item03 {
		margin-top: 200px;
	}
	.support__item.sup-item04 {
		margin-top: -180px;
	}
	.support__item.sup-item05 {
		margin-top: -90px;
	}
	.support__footer {
		padding-left: 12%;
		padding-top: 150px;
		padding-bottom: 160px;
		&::before {
			max-width: 198px;
			max-height: 262px;
			width: 100%;
			height: 100%;
			bottom: 247px;
			left: 0;
		}
		&::after {
			max-width: 289px;
			max-height: 330px;
			bottom: 0;
			right: 45px;
		}
		&-title {
			max-width: 360px;
			font-size: 38px;
		}
		&-btn {
			height: 50px;
			text-align: center;
			padding: 15px 45px;
			font-size: 14px;
			max-width: 208px;
			max-height: 50px;
			width: 100%;
		}
	}
	.slick-next {
		right: -3%;
	}
	.slick-prev {
		left: -3%;
	}
	.support__footer-btn-eng {
		max-width: 282px;
	}
}

@media (max-width: 900px) {                   //=====900====//
	.offers__clider {
		&-title {
			font-size: 36px;
		}
		&-item {
			&_text {
				font-size: 14px;
				left: 8px;
				padding: 0 53px;
				width: 516px;
				top: 56px;
				p {
					padding-left: 77px;
				}
			}
			&_img {
				max-width: 500px;
			}
		}
	}
	.slider__arrows-left {
		position: absolute;
		top: 45px;
    left: 65px;
		img {
			max-width: 41px;
			max-height: 30px;
		}
	}
	.slider__arrows-right {
		position: absolute;
		top: 162px;
    left: 230px;
		img {
			max-width: 41px;
			max-height: 30px;
		}
	}
	.slick-prev {
		left: 9%;
		top: 94px;
	}
	.slick-next {
		right: 9%;
		top: 94px;
	}
	.offers__clider-item_user {
		bottom: -75px;
		left: 61px;
		img {
			max-width: 80px;
			max-height: 80px;
		}
		.slider_user-text {
			font-size: 14px;
		}
		.slider_user-text_text {
			font-size: 12px;
		}
	}
	.slick-dots {
    bottom: 252px;
    left: 70%;
		}
	}


 @media (max-width: 860px) {                   //=====860====//
	.header__content-title {
		font-size: 36px;
	}
	.best__inner {
    padding-top: 150px;
		&::before {
			max-width: 256px;
			max-height: 338px;
			top: -4px;
		}
	}
	.best__items-title {
		font-size: 52px;
	}
	.best__items-text {
		font-size: 16px;
	}
	.best__items .best__items-item02 {
    margin: 0px 50px;
	}
	.best__header {
		margin: 0 14% 0 25%;
		&-title {
			font-size: 24px;
		}
	}
	.support__inner .support__box {
    top: 158px;
    right: 83px;
		max-width: 387px;
	}
	.header-box .header__inner-nav .header__menu ul {
    right: 75px;
	}
	// ==============================================

	

// ===========================
}

@media (max-width: 800px) {                   //=====800====//
	.header-box .header__inner-nav .header__menu ul {
    top: 35px;
    right: 70px;
		text-align: center;
		font-size: 14px;
	}
	.support__inner .support__box {
    right: 52px;
	}
	.best__inner .best__inner-img {
    top: -16px;
    left: 0;
	}
}

@media (max-width: 760px) {                   //=====760====//
	.header__logo {
		img {
			max-width: 155px;
			max-height: 45px;
		}
		.header__inner-nav .header__menu {
			margin-top: 16px;
			font-size: 14px;
		}
	}
	.best__header {
    margin: 0 14% 0 21%;
	}
	.best__items-title {
		font-size: 46px;
	}
	.best__items-text {
		font-size: 14px;
	}
	.best__inner .best__inner-img {
    top: 34px;
    left: 0;
    img {
      max-width: 250px;
      max-height: 350px;
    }
  }
	.support__inner .support__box-title {
		font-size: 24px;
	}
	.support__inner .support__box {
    top: 169px;
    right: -36px;
		max-width: 387px;
		margin: 0 10% 0px 10%;
	}
	.support__inner {
		padding-top: 200px;
	}
	.support__items {
		padding-top: 63px;
	}
	.support__footer {
		padding-left: 12%;
		padding-top: 150px;
		padding-bottom: 160px;
		&-title {
			max-width: 360px;
			font-size: 36px;
		}
		&-btn {
			height: 40px;
			text-align: center;
			padding: 11px 23px;
			// width: 160px;
			}
		&::before {
			max-width: 198px;
			max-height: 262px;
			width: 100%;
			height: 100%;
			bottom: 160px;
			left: 0;
		}
		&::after {
			max-width: 289px;
			max-height: 330px;
			bottom: 0;
			right: 45px;
		}
	}
	.footer__box-title {
    font-size: 16px;
	}
	.support__footer-title-eng {
		margin-right: 27px;
	}
}
@media (max-width: 755px) {                   //=====755====//
	.support__inner .support__box {
    top: 81px;
    right: -36px;
		max-width: 387px;
		margin: 0 20% 0px 20%;
	}
}

@media (max-width: 754px) {                   //=====754====//
	.support__item.sup-item02 {
		margin-top: 10px;
	}
	.menu__eng-color {
		margin-left: 20px;
	}
	.support__item.sup-item04 {
		margin-top: 10px;
	}
	.support__item.sup-item03 {
		margin-top: 10px;
	}
	.support__item.sup-item04 {
		margin-top: 10px;
	}
	.support__item.sup-item05 {
		margin-top: 10px;
	}
	.support__footer {
		padding-left: 12%;
		padding-top: 150px;
		padding-bottom: 160px;
		&::before {
			max-width: 198px;
			max-height: 262px;
		}
		&::after {
			max-width: 289px;
			max-height: 330px;
		}
		.support__footer-title {
			max-width: 360px;
			font-size: 36px;
		}
	}
}

@media (max-width: 700px) {                   //=====700====//
	.best__header {
		margin: 0 9% 0 17%;
	}
	.header__content-text {
    height: 140px;
	}
	.support__inner .support__footer {
		display: block;
		padding-left: 22%;
		padding-top: 150px;
		padding-bottom: 90px;
		&::before {
			max-width: 198px;
			max-height: 262px;
			width: 100%;
			height: 100%;
			bottom: 160px;
			left: 0;
		}
		&::after {
			max-width: 289px;
			max-height: 330px;
			bottom: 0;
			right: 45px;
		}
		.support__footer-title {
			max-width: 360px;
			font-size: 36px;
			padding-bottom: 40px;
		}
		&-btn {
			height: 40px;
			padding: 13px 15px;
			button {
				font-size: 14px;
			}
		}
	}
	.slick-prev {
		left: 2%;
	}
	.slick-next {
		right: 2%;
	}
}

@media (max-width: 650px) {                   //=====650====//
	.slick-prev {
		display: none;
		color: transparent;
	}
	.slick-next {
		display: none;
		color: transparent;
	}
	.slick-dots {
    bottom: 181px;
    left: 40%;
}
	.offers__btn {
		margin-left: 29%;
	}
	.best__inner .best__inner-img {
    top: -7px;
    left: 0;
	}
}

@media (max-width: 600px) {                   //=====600====//
	.header__content {
		padding-left: 6%;
		display: block;
		position: relative;
		padding-bottom: 200px;
		&-img {
			padding-top: 0;
			width: 329px;
			height: 270px;
			width: 100%;
			max-width: 90%;
		}
		&-box {
			max-width: 75%;
		}
		&-title {
			font-size: 30px;
		}
		&-btn {
			position: absolute;
			bottom: 36px;
			right: 41%;
		}
		&-text {
			margin-bottom: 0;
		}
	}
	.menu__eng-color {
		margin-left: 10px;
	}
	.header__menu-register {
		display: none;
	}
	.header__inner-nav .header__menu {
    margin-top: 13px;
}
	.best__inner {
    padding-top: 50px;
	}
	.best__inner .best__inner-img {
    top: 225px;
	}
	.best__header {
    margin: 0 9% 0 11%;
	}
	.support__inner .support__footer::after {
    max-width: 218px;
    max-height: 250px;
    bottom: 0;
    right: 1px;
	}
	.offers__inner .offers__header-text {
    margin: 0 5px;
	}
}

@media (max-width: 560px) {                      //=====560====//
	.best__header-title {
		width: 260px;
	}
	.best__items-title {
		font-size: 40px;
	}
	.best__items-text {
		font-size: 12px;
	}
	.header__content {
		&-btn {
			bottom: 85px;
		}
	}
	.footer__box-item {
		margin-bottom: 28px;
	}
}

@media (max-width: 500px) {                      //=====500====//
	.header__content {
		&-title {
			font-size: 30px;
		}
		&-btn {
			bottom: 74px;
		}
	}
	.offers__clider-item_text {
    font-size: 14px;
    left: -20px;
    top: 51px;
	}
	.offers__clider-item_img {
		img {
			max-width: 500px;
			height: 300px;
		}
	}
	.support__items {
    padding-top: 80px;
	}
	.footer__foot-logo {
		img {
			max-width: 137px;
			max-height: 40px;
		}
	}
	.footer__foot-text {
    font-size: 10px;
	}
}

@media (max-width: 400px) {                      //=====400====//
	.header__inner-nav {
    padding: 0px 10px 0px 6%;
	}
	.header__content {
		padding-bottom: 80px;
		&-btn {
			bottom: 75px;
			right: 22%;
		}
		&-text {
			height: 165px;
		}
		&-title {
			font-size: 30px;
			padding-right: 62px;
		}
		&-box {
			max-width: 100%;
		}
	}
	.best__inner {
    padding-top: 0px;
	}
	.offers__clider-item_img {
		img {
			max-width: 400px;
			height: 300px;
		}
	}
	.offers__clider-item_text {
    font-size: 12px;
    left: -37px;
		top: 51px;
		width: 400px;
	}
	.slider__arrows-left {
    position: absolute;
    top: 35px;
    left: 18px;
	}
	.slider__arrows-right {
    position: absolute;
    top: 160px;
    left: 108px;
	}
	.support__items {
    padding-top: 100px;
	}
}

@media (max-width: 360px) {                      //=====360====//
	.header__content {
		&-btn {
			bottom: 75px;
			right: 22%;
		}
		&-text {
			height: 165px;
		}
		&-title {
			font-size: 30px;
			padding-right: 62px;
		}
		&-box {
			max-width: 100%;
		}
	}
	.best__inner::before {
    max-width: 195px;
    max-height: 300px;
    top: 225px;
	}
}