@media (max-width: 1300px) {
	.header__content-title {
		text-align: left;
		font-size: 55px;
	}
	.header__content-text {
		font-size: 15px;
	}
	.header__inner-nav {
		padding: 0px 70px;
		.header__menu {
			&-ul {
				li + li {
					margin-left: 45px;
				}
				li:nth-child(5) {
					margin-left: 15px;
				}
			}
		}
	}
	.header__content {
		padding-left: 5%;
	}
}

@media (max-width: 1200px) {                  //=====1200====//
	.header__content-title {
		font-size: 50px;
	}
	.text {
		font-size: 14px;
	}
	.header__inner-nav {
		padding: 0px 40px;
		.header__menu {
			&-ul {
				li + li {
					margin-left: 35px;
				}
				li:nth-child(5) {
					margin-left: 10px;
				}
			}
		}
	}
	.header__content {
		padding-left: 4%;
	}
	.best__header-title {
		width: 585px;
	}
	.header__content {
		&::before {
			max-width: 340px;
			max-height: 462px;
			bottom: -361px;
		}
	}
}

@media (max-width: 1100px) {                   //=====1100====//
	.header__content-title {
		font-size: 45px;
	}
	.header__inner-nav {
		padding: 0px 20px;
		.header__menu {
			font-size: 15px;
			&-ul {
				li + li {
					margin-left: 25px;
				}
				li:nth-child(5) {
					margin-left: 10px;
				}
			}
		}
	}
	.header__content {
		padding-left: 2%;
	}
	.header__content {
		&::before {
			max-width: 300px;
			max-height: 390px;
			bottom: -361px;
		}
	}
}

@media (max-width: 1025px) {                   //=====1025====//
	.best__header-title {
		font-size: 30px;
	}
}

@media (max-width: 960px) {                   //=====960====//
	.header__content-title {
		font-size: 40px;
	}
	.text {
		font-size: 12px;
	}
	.header__menu-btn {
		display: block;
	}
	.header-box .header__inner-nav .header__menu ul {
		display: none;
		position: absolute;
		top: 45px;
    right: 112px;
		text-align: center;
		li {
			padding: 0;
			margin-top: 10px;
		}
	}
	.header__inner-nav .header__menu-ul li+li {
		margin-left: 0;
	}
	.header__logo {
    margin-top: 20px;
    img {
			width: 205px;
			height: 60px;
		}
	}
	.best__inner {
    padding-top: 150px;
	}
}

 @media (max-width: 860px) {                   //=====860====//
	.header__content-title {
		font-size: 36px;
	}
	// .header__content-text {
	// 	font-size: 12px;
	// }
}

@media (max-width: 760px) {                   //=====760====//
	.header__content-title {

	}
}