@import 'vars';
@import 'global';
@import 'fonts';



// ================================================
                  //  header
// ================================================


.header {
  z-index: 3;
  background-image: linear-gradient(to bottom, #fdfdfe, #ecf0f3);
}

.header-box {
  position: relative;
  // background-image: linear-gradient(to bottom, #fdfdfe, #ecf0f3);
  padding-bottom: 40px;
}

.header__inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 95px;
  .header__logo {
    align-items: center;
    display: flex;
    margin-top: 20px;
    width: 260px;
    height: 76px;
  }
  .header__menu {
    @include text;
    margin-top: 27px;
    text-align: center;
    &-ul {
      display: flex;
      justify-content: space-between;
      text-align: center;
      li {
        margin-top: 12px;
      }
      li + li {
        margin-left: 50px;
      }
      li:nth-child(5) {
        margin-left: 20px;
      }
      li:nth-child(6) {
        margin-left: 0px;
        margin-top: 0;
      }
    }
  }
}
.menu__eng-color {
  margin-right: 20px;
}

.header__menu-register {
  border-radius: 19px;
  box-shadow: 7px 7px 18px 0 rgba(209, 217, 230, 0.6);
  background-color: #ffffff;
  padding: 0;
  padding: 12px 33px;
}

.menu__eng-color {
  color: #97a7bd;
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-left: 7%;
  position: relative;
  &-img {
    padding-top: 40px;
    max-width: 50%;
    img {
      width: 100%;
    }
  }
  &-box {
    max-width: 50%;
  }
  &-title {
    @include title;
    font-size: 55px;
    margin-bottom: 30px;
  }
  &-text {
    @include text;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    margin-bottom: 50px;
    max-width: 580px;
    height: 120px;
  }
  &-btn {
    display: inline-block;
    background-image: linear-gradient(258deg, #bdf078 100%, #6fe78b 30%);
    padding: 20px 76px;
    border-radius: 30px;
    box-shadow: 10px 10px 24px 0 #d1d9e6;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      @include title;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.header__menu-btn {
  width: 30px;
  display: none;
}

.header__menu-row {
  width: 100%;
  background-color: #000;
  height: 3px;
  margin-bottom: 4px;
}


// =======================================================================
//                               Best
// =======================================================================


.best {
  background-color: $bg;
}
.best__inner {
  // background-color: $bg;
  padding-top: 86px;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
  .best__inner-img {
    position: absolute;
    z-index: 3;
    top: -155px;
    left: 0;
    img {
      max-width: 459px;
      max-height: 603px;
      width: 100%;
      height: 100%;
    }
  }
}

.best__header {
  text-align: left;
  margin: 0 2% 0 23%;
  max-width: 600px;
  &-title {
    margin-bottom: 20px;
    font-size: 40px;
  }
  &-text {
    max-width: 580px;
  }
}

 .best__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 65px 2% 0 22%;
  position: absolute;
  z-index: 11;
  .best__items-item02 {
    margin: 0px 80px;
  }
  &-title {
    @include title;
    font-size: 80px;
    background-image: linear-gradient(70deg, #01c4b7 5%, #5ee57d 76%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.best__header-title-eng {
  max-width: 500px;
}


// =======================================================================
//                               Support
// =======================================================================


.support {
  background-image: linear-gradient(to top, #ffffff, #ecf0f3 50%);
}
.support__inner {
  // background-image: linear-gradient(to top, #ffffff, #ecf0f3 50%);
  position: relative;
  padding-top: 330px;
  .support__box {
    position: absolute;
    top: 200px;
    right: 190px;
    max-width: 580px;
    &-title {
      margin-bottom: 20px;
      font-size: 36px;
    }
    &-text {
      line-height: 1.5;
      letter-spacing: normal;
    }
  }
}

.support__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .support__item {
    border-radius: 6px;
    box-shadow: 16px 16px 30px 0 rgba(209, 217, 230, 0.2);
    width: 380px;
    height: 380px;
    background-color: #fff;
    margin: 10px;
    padding: 3% 2.8%;
    .sup__item-logo {
      img {
        margin-bottom: 13%;
      }
    }
    .sup__item-title {
      font-size: 22px;
      line-height: 1.46;
      margin-bottom: 15px;
    }
  }
}

.support__footer {
  display: flex;
  align-items: center;
  padding-left: 12%;
  padding-top: 150px;
  padding-bottom: 160px;
  &::before {
    max-width: 352px;
    max-height: 466px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 160px;
    left: 0;
    content: '';
    background-image: url(../images/group-20.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::after {
    max-width: 385px;
    max-height: 441px;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 45px;
    content: '';
    background-image: url(../images/group-11.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-title {
    max-width: 580px;
    font-size: 50px;
    line-height: 1.1;
    letter-spacing: normal;
  }
  &-btn {
    display: inline-block;
    height: 60px;
    text-align: center;
    background-image: linear-gradient(258deg, #7765f6, #5548e7);
    padding: 20px 76px;
    border-radius: 30px;
    box-shadow: 10px 10px 24px 0 #d1d9e6;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      @include title;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      cursor: pointer;
      color: #fff;
    }
  }
}

.support__item.sup-item02 {
  margin-top: 100px;
}
.support__item.sup-item04 {
  margin-top: -90px;
}
.support__item.sup-item03 {
  margin-top: 200px;
}
.support__item.sup-item04 {
  margin-top: -180px;
}
.support__item.sup-item05 {
  margin-top: -90px;
}

.support__footer-title-eng {
  margin-right: 88px;
  max-width: 500px;
}


// =======================================================================
//                               Top Offers
// =======================================================================


.offers {
  background-image: linear-gradient(to top, #ffffff, #ecf0f3);
}
.offers__inner {
  // background-image: linear-gradient(to top, #ffffff, #ecf0f3);
  .offers__header {
    padding-top: 120px;
    padding-bottom: 70px;
    &-title {
      background-image: linear-gradient(82deg, #01c4b7 1%, #5ee57d 86%);
      font-size: 56px;
      line-height: 1.1;
      letter-spacing: normal;
      text-align: center;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      padding-bottom: 24px;
    }
    &-text {
      text-align: center;
      max-width: 535px;
      margin: 0 auto;
    }
  }
}

.offers__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 70px;
  .offers__item {
    position: relative;
    margin: 10px;
    &-title {
      color: #3000a4;
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 65px;
    }
    &-box {
      &__title {
        color: #818fa0;
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: normal;
        .ofbox02 {
          margin-left: 80px;
        }
        .ofbox03 {
          margin-left: 55px;
        }
      }
      &__numbers {
        display: flex;
        justify-content: space-between;
        color: #3000a4;
        margin-bottom: 57px;
        .oftext02 {
          margin-left: 19px;
        }
        .oftext03 {
          margin-right: 27px;
        }
        .oftext13 {
          margin-right: 15px;
        }
        .oftext22 {
          margin-left: 9px;
        }
        .oftext23 {
          margin-right: 19px;
        }
        .oftext32 {
          margin-left: -12px;
        }
        .oftext52 {
          margin-left: 32px;
        }
        .oftext53 {
          margin-right: -25px;
        }
        .oftext62 {
          margin-left: 12px;
        }
        .oftext63 {
          margin-right: 0px;
        }
      }
    }
    &-img {
      display: block;
      max-width: 380px;
      max-height: 321px;
      width: 100%;
    }
    .offers_box-wrapper {
      padding: 30px 65px 20px 35px;
      position: absolute;
      top: 0;
      left: 0;
      .offers__item-foot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 0;
      }
    }
  }
}

.offers {
  &__btn {
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(258deg, #bdf078 100%, #6fe78b 30%);
    padding: 20px 51px;
    border-radius: 30px;
    box-shadow: 10px 10px 24px 0 #d1d9e6;
    margin-left: 40%;
    width: 280px;
    height: 60px;
    button {
      background-color: transparent;
      border: none;
      outline: none;
      @include title;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.offers__clider-title {
  font-size: 60px;
  padding-top: 170px;
  padding-bottom: 70px;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: center;
}

.offers__clider-inner {
  text-align: center;
  padding-bottom: 294px;
  max-width: 800px;
}

.offers__clider-item {
  max-height: 500px;
  &_img {
    position: relative;
    display: inline-block;
    & > img {
      width: 100%;
    }
  }
  &_text {
    @include text;
    width: 580px;
    height: 210px;
    text-align: left;
    position: absolute;
    top: 60px;
    left: 101px;
    font-size: 22px;
    line-height: 1.46;
    letter-spacing: 0.4px;
  }
}

.offers__clider-item_user {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -123px;
  left: 77px;
  min-width: 0;
}

.slider_user-text {
  margin-left: 40px;
  text-align: left;
  &_text {
    padding-top: 7px;
  }
}

.slick__items {
  max-width: 800px;
  margin: 0 auto;
}
.slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 238px;
  left: 78%;
  li + li {
    margin-left: 15px;
  }
  .slick-active {
    #slick-slide-control04,
    #slick-slide-control03,
    #slick-slide-control02,
    #slick-slide-control01,
    #slick-slide-control00 {
      background-color: #19bd9a;
    }
  }
}

#slick-slide-control04,
#slick-slide-control03,
#slick-slide-control02,
#slick-slide-control01,
#slick-slide-control00 {
  width: 9px;
  height: 14px;
  color: transparent;
  background-color: #fff;
  border: 1px solid #19bd9a;
  border-radius: 50%;
  outline: none;
  &:active {
    background: #19bd9a;
  }
}

.slick-btn {
  position: absolute;
  top: 22%;
	cursor: pointer;
  outline: none;
  transform: scale(3);
  border: none;
  background-color: transparent;
  font-size: 28px;
  color: #b8c8dd;
}

.slick-btn:before {
  transform: translate(-50%, -50%) ;
  font-family: 'icomoon';
}

.slick-next {
  display: block;
  right: -13%;
  z-index: 2;
  font-family: 'icomoon';
}

.slick-prev {
  display: block;
  left: -13%;
  z-index: 2;
  font-family: 'icomoon';
}

.slick-next:before {
  content: "\f105";
}

.slick-prev:before {
  content: "\f104";
}

.slider_user-foto01 {
  width: 140px;
  height: 140px;
  img {
    width: 140px;
    height: 140px;
  }
}

// =======================================================================
//                               Footer
// =======================================================================


.footer {
  background-color: $bg;
}
.footer__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 90px;
  &-list {
    li + li {
      margin-top: 30px;
    }
    span {
      color: #3a01c4;
    }
  }
  &-title {
    margin-bottom: 40px;
  }
  &-item {
    min-width: 115px;
  }
}

.foot-grey-text {
  color: #818fa0;
}

.footer__foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 159px;
  margin: 0 7%;
  border-top: 1px solid #b8c8dd;
  &-logo {
    img {
      max-width: 100%;
    }
  }
  &-text {
    @include text;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #818fa0;
  }
}









@import 'media';